@page
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@model CreateModel
@{
    ViewData["Title"] = "Create watchdog";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row"
     @Stimulus.Controller(
         StimulusControllers.WatchdogsCreate, 
            new CreateStimulusModel(
                Url.Page("/Watchdogs/Detail/Detail", new { id = "$id"})
     ))
     >
    <div class="col-md-6">
        <form method="post" 
              data-watchdogs--create-target="form"
              >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">Back to List of watchdogs</a>
</div>
