.vs/
bin
obj
*.user
*.bak
/src/Web/node_modules
/src/Web/wwwroot/assets/bundle.js
/src/Web/wwwroot/assets/bundle.js.map
/src/Web/wwwroot/assets/bundle.css
/src/Web/wwwroot/assets/bundle.css.map
/src/build_docker_image_and_run_web.sh
/src/Install/*.*.sh
/src/docker-ci/test-results