@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Features.Shared
@model LoginLinkSentModel
@inject IStringLocalizer<Resource> Localizer

@{
    var title = Resource.LoginLinkSent;
    ViewData["Title"] = title;
}
<h1 class="display-4">@title</h1>

<div @Stimulus.Controller(StimulusControllers.AccountLoginLinkSent, new LoginLinkSentStimulusModel(Model.LoginTokenGuid))>
    @Html.Raw(Localizer[Resource.LoginLinkSentDescription, Model.Email, Resource.MrWatchdog])
</div>
