@model Onboarding
<button class="btn btn-link"
        data-action="@StimulusControllers.Onboarding#startOnboarding">
    <i class="fa-solid fa-circle-question"></i>
    Show onboarding
</button>