@using MrWatchdog.Core.Resources
@model Onboarding
<button class="btn btn-link"
        data-action="@StimulusControllers.Onboarding#startOnboarding">
    <small>
        <i class="fa-solid fa-circle-question"></i>
        @Resource.NeedHelp
    </small>
</button>