@model Onboarding
<button class="btn btn-link"
        data-action="@StimulusControllers.Onboarding#startOnboarding">
    <small>
        <i class="fa-solid fa-circle-question"></i>
        Show onboarding
    </small>
</button>