@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Infrastructure.Authorizations
@model IndexModel
@inject IStringLocalizer<Resource> Localizer

@{
    var title = Resource.Scrapers;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<div class="row">
    <div class="col-md-7">
        <turbo-frame id="publicScrapers"
                     src="@ScraperUrlConstants.ScrapersPublicScrapersUrl"
        />
    </div>
    <div class="col-md-5">
        @if (User.IsAuthenticated())
        {
            <turbo-frame id="userScrapers"
                         src="@ScraperUrlConstants.ScrapersUserScrapersUrl"
            />
        }
    </div>
</div>

<p class="pt-3">
    <i class="fa-solid fa-circle-info text-primary"></i>

    @Html.Raw(
        Localizer[
            Resource.AddNewScraperRecommendation,
            $"<a href=\"{ScraperUrlConstants.ScraperCreateUrl}\">{Resource.Here}</a>"
        ]
    )
</p>

