@page
@using CoreUtils.Extensions
@using MrWatchdog.Web.Infrastructure.Authorizations
@model PublicWatchdogsModel
@{
    Layout = null;
}
<!turbo-frame id="publicWatchdogs">
    <h1 class="display-4">Public web scrapers</h1>    
    <p class="text-muted">
        Browse public web scrapers created by other users and you.
    </p>

    @foreach (var watchdog in Model.PublicWatchdogs)
    {
        <div>
            <a asp-page="/Watchdogs/ScrapingResults/ScrapingResults" 
               asp-route-watchdogId="@watchdog.WatchdogId"
               data-turbo-frame="_top"
               class="text-wrap text-break"
               >
                @watchdog.WatchdogName</a>

            @if (watchdog.UserId == User.GetUserId())
            {
                <span class="badge text-bg-primary"
                      title="You created this watchdog"
                      >
                    My web scraper
                </span>
            }
        </div>
    }
        
    @if (Model.PublicWatchdogs.IsEmpty())
    {
        <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
        @:There are no public watchdogs. You can create a watchdog 
        <a asp-page="/Watchdogs/Create/Create" data-turbo-frame="_top">here</a>@: and later make it public.
    }
</!turbo-frame>