<div class="alert alert-info mb-3">
    <i class="fa-solid fa-circle-info"></i> Email notifications about new results are currently free. 
    In the future, this feature will be available only to premium subscribers. 
    The premium subscription is not yet implemented.
</div>
