@page
@using CoreWeb.Account.Features.LoginLink.LoginLinkSent
@using CoreWeb.Account.Features.Shared
@using CoreWeb.Features.Shared
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@model LoginLinkSentModel
@inject IStringLocalizer<Resource> Localizer

@{
    var title = Resource.LoginLinkSent;
    ViewData["Title"] = title;
}
<h1 class="display-4">@title</h1>

<div @Stimulus.Controller(CoreWebAccountStimulusControllers.AccountLoginLinkLoginLinkSent, new LoginLinkSentStimulusModel(Model.LoginTokenGuid))>
    @Html.Raw(Localizer[Resource.LoginLinkSentDescription, Model.Email, Resource.MrWatchdog])
</div>
