@page "{watchdogAlertId}"
@using MrWatchdog.Web.Features.Shared
@using MrWatchdog.Web.Features.Shared.ReinforcedTypings
@model OverviewModel
@{
   Layout = null;
}
<!turbo-frame id="watchdog_alert_overview_@(Model.WatchdogAlertOverviewArgs.WatchdogAlertId)">
    <div @Stimulus.Controller(StimulusControllers.WatchdogAlertOverview)>
        <view-or-edit-form action="@Url.Page("Overview")">
        
            <view-mode-item>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                        <input asp-for="WatchdogAlertOverviewArgs.SearchTerm" 
                               class="form-control" 
                               disabled
                        />
                    </div>
                </div>
            </view-mode-item>
        
            <edit-mode-item>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="WatchdogAlertOverviewArgs.WatchdogAlertId" type="hidden" />

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                        <input asp-for="WatchdogAlertOverviewArgs.SearchTerm" 
                               class="form-control"
                               data-watchdogs--alert-overview-target="searchTerm"
                               data-action="input->@StimulusControllers.WatchdogAlertOverview#onSearchTermModified"
                               placeholder="Filter results"
                               />
                    </div>
                    <span asp-validation-for="WatchdogAlertOverviewArgs.SearchTerm" class="text-danger"></span>
                </div>
            </edit-mode-item>

        </view-or-edit-form>
    </div>
</!turbo-frame>

