@page "{scraperId}"
@using MrWatchdog.Core.Features.Scrapers.Domain
@using MrWatchdog.Core.Resources
@model StatisticsModel
@{
   Layout = null;
}
<!turbo-frame id="scraper_detail_statistics_@(Model.ScraperId)">
    <div class="card" style="display:@(Model.ScraperPublicStatus != PublicStatus.Public ? "none": "")">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="PublicScraperStatistics.CalculatedEarningsForThisMonth" class="form-label fw-bold"></label>
                <div>€@Model.PublicScraperStatistics.CalculatedEarningsForThisMonth</div>
                <div class="alert alert-info mb-3">
                    <i class="fa-solid fa-circle-info"></i> @Resource.ScraperEarningsCalculationInfo
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="PublicScraperStatistics.NumberOfUsersWithWatchdogWithNotification" class="form-label fw-bold"></label>
                <div>@Model.PublicScraperStatistics.NumberOfUsersWithWatchdogWithNotification</div>
            </div>
            <div class="mb-3 d-none">
                <label asp-for="PublicScraperStatistics.NumberOfUsersWithWatchdogWithoutNotification" class="form-label fw-bold"></label>
                <div>@Model.PublicScraperStatistics.NumberOfUsersWithWatchdogWithoutNotification</div>
            </div>
        </div>
    </div>
</!turbo-frame>