@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Resources
@model IndexModel
@inject IStringLocalizer<Resource> Localizer 

@{
    var title = Resource.MrWatchdog;
    ViewData["Title"] = title;
}

<h1 class="display-4">@title</h1>

<div class="row">
    <div class="col-md-6">
        @Html.Raw(
            Localizer[
                Resource.About,
                $"<a href=\"/Watchdogs/Index\">{Resource.AboutWebScrapers}</a>",
                $"<a href=\"{WatchdogUrlConstants.WatchdogCreateUrl}\">{Resource.AboutCreate}</a>",
                $"<a href=\"{WatchdogUrlConstants.WatchdogsManageUrl}\">{Resource.AboutManage}</a>"
            ]
        )
    </div>
</div>
