@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@model IndexModel
@inject IStringLocalizer<Resource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer[Resource.MrWatchdog];
}

<h1 class="display-4">@SharedLocalizer[Resource.MrWatchdog]</h1>

<div class="row">
    <div class="col-md-6">
        <p>
            A watchdog platform for any publicly accessible web page on the internet.
        </p>
        <p>
            Use it to watch any publicly accessible web page for changes and get notified when it changes or your search term is found on it.
        </p>
        <p>
            Setup alerts on existing public <a asp-page="/Watchdogs/Index">watchdogs</a> 
            or <a asp-page="/Watchdogs/Create/Create">create</a> your own watchdog.
        </p>
    </div>
</div>
