@page
@using MrWatchdog.Core.Resources
@model IndexModel

@{
    var title = Resource.MrWatchdog;
    ViewData["Title"] = title;
}

<h1 class="display-4">@title</h1>

<div class="row">
    <div class="col-md-6">
        <p>
            A watchdog platform for any publicly accessible web page on the internet.
        </p>
        <p>
            Use it to watch any publicly accessible web page for changes and get notified by email when it changes or your search term is found.
        </p>
        <p>
            View existing public <a asp-page="/Watchdogs/Index">watchdogs</a> and set up email notifications about new watchdog search results.
        </p>
        <p>
            <a asp-page="/Watchdogs/Create/Create">Create</a> your own watchdog. <a asp-page="/Watchdogs/Manage/Manage">Manage</a> your existing watchdogs.
        </p>
    </div>
</div>
