@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Features.Scrapers
@using MrWatchdog.Core.Resources
@model IndexModel
@inject IStringLocalizer<Resource> Localizer 

@{
    var title = Resource.MrWatchdog;
    ViewData["Title"] = title;
}

<h1 class="display-4">@title</h1>

<div class="row">
    <div class="col-md-6">
        @Html.Raw(
            Localizer[
                Resource.About,
                $"<a href=\"/Scrapers/Index\">{Resource.AboutScrapers}</a>",
                $"<a href=\"{ScraperUrlConstants.ScraperCreateUrl}\">{Resource.AboutCreate}</a>",
                $"<a href=\"{ScraperUrlConstants.ScrapersManageUrl}\">{Resource.AboutManage}</a>"
            ]
        )
    </div>
</div>
