@page
@using Microsoft.Extensions.Options
@using MrWatchdog.Core.Infrastructure.EmailSenders
@using MrWatchdog.Core.Resources
@model SupportModel
@inject IOptions<EmailAddressesOptions> EmailAddressesOptions

@{
    var title = Resource.Support;
    ViewData["Title"] = title;
}

<h1 class="display-4">@title</h1>

<div>
    @Resource.ContactSupport
    <a href="mailto:@(EmailAddressesOptions.Value.Support)" class="fw-semibold text-decoration-none">
        @(EmailAddressesOptions.Value.Support)
    </a>
</div>