@page "{watchdogId}"
@using MrWatchdog.Core.Resources
@model BadgesModel
@{
    Layout = null;
}
<!turbo-frame id="watchdog_detail_badges_@(Model.WatchdogDetailArgs.WatchdogId)">
    <public-status-badge public-status="@Model.WatchdogDetailArgs.PublicStatus" 
                         show-private="@Model.ShowPrivate"
    />
    @if (Model.WatchdogDetailArgs.IsArchived)
    {
        <span class="badge text-bg-warning">
            @Resource.Archived
        </span>
    }
</!turbo-frame>