@page "{scraperId}"
@using MrWatchdog.Core.Resources
@model BadgesModel
@{
    Layout = null;
}
<!turbo-frame id="scraper_detail_badges_@(Model.ScraperDetailArgs.ScraperId)">
    <public-status-badge public-status="@Model.ScraperDetailArgs.PublicStatus" 
                         show-private="@Model.ShowPrivate"
    />
    @if (Model.ScraperDetailArgs.IsArchived)
    {
        <span class="badge text-bg-warning">
            @Resource.Archived
        </span>
    }
</!turbo-frame>