@page
@using MrWatchdog.Core.Features.Watchdogs
@using MrWatchdog.Core.Resources
@using MrWatchdog.Web.Infrastructure.Authorizations
@model ManageModel

@{
    var title = Resource.ManageWatchdogs;
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>

<div class="row">
    <div class="col-md-6">
        <turbo-frame id="userWatchdogs"
                     src="@WatchdogUrlConstants.WatchdogsManageUserWatchdogsUrl" />
    </div>
    <div class="col-md-6">
        @if (User.IsSuperAdmin())
        {
            <turbo-frame id="otherUsersWatchdogs"
                         src="@WatchdogUrlConstants.WatchdogsManageOtherUsersWatchdogsUrl" />
        }
    </div>
</div>
