@using MrWatchdog.Web.Features.Shared.TagHelpers.Onboarding
@model ScrapingResultsWebPages

<div data-watchdogs--scraping-results-web-pages-target="allResults">
    <label class="form-label fw-bold" id="@OnboardingElementIdentifiers.WatchdogsScrapingResultsWebPagesWatchedWebPagesId">
        Watched web pages
    </label>
    @foreach (var watchdogWebPageArgs in Model.WatchdogScrapingResultsArgs.WebPages)
    {
        <div class="card mb-1" 
             data-watchdogs--scraping-results-web-pages-target="webPage"
             >
            <div class="card-header d-flex justify-content-between align-items-center text-wrap text-break">
                <span><a href="@watchdogWebPageArgs.Url" target="_blank">@watchdogWebPageArgs.Name</a></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label fw-bold">Search results</label>
                        <ul translate="no">
                            @foreach (var scrapingResult in watchdogWebPageArgs.ScrapingResults)
                            {
                                <li data-watchdogs--scraping-results-web-pages-target="scrapingResult">
                                    @Html.Raw(scrapingResult)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-6 mt-3" 
     data-watchdogs--scraping-results-web-pages-target="noResults" 
     style="display: none"
>
    <i class="fa-solid fa-triangle-exclamation text-warning"></i> 
    <span data-watchdogs--scraping-results-web-pages-target="noResultsMessage" class="text-wrap text-break"></span>
</div>
