service: mrwatchdog

image: xhafan/mrwatchdog

proxy:
  ssl: false
  ssl_redirect: false
  forward_headers: true

registry:
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  args:
    GIT_SHA: <%= `git rev-parse HEAD`.strip %>

env:
  secret:
    - SmtpClientDirectlyToRecipientMailServerEmailSender__DkimSelector
    - SmtpClientDirectlyToRecipientMailServerEmailSender__DkimPrivateKey
    - SmtpClientDirectlyToRecipientMailServerEmailSender__DkimDomain
    - SmtpClientDirectlyToRecipientMailServerEmailSender__EhloDomainName
    - SmtpServerEmailSender__SmtpServer
    - SmtpServerEmailSender__Port
    - SmtpServerEmailSender__Username
    - SmtpServerEmailSender__Password
    - ReCaptcha__SiteKey
    - ReCaptcha__SecretKey
    - Logging__LogErrorApiSecret
    - EmailAddresses__NoReply
    - EmailAddresses__Support
    - EmailAddresses__Admin
    - EmailAddresses__BackendErrors
    - EmailAddresses__FrontendErrors
    - Authentication__Google__ClientSecret
    - Authentication__Google__ClientId
    - Runtime__Url
    - Jwt__Key
    - ConnectionStrings__Database

accessories:
  db:
    image: postgres:18.0-alpine
    port: "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env:
      secret:
        - POSTGRES_USER
        - POSTGRES_PASSWORD
        - POSTGRES_DB

