@page "{id}"
@model DetailModel
@{
    ViewData["Title"] = "Edit watchdog";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row" 
     data-controller="watchdogs--detail"
     data-watchdogs--detail-web-page-to-monitor-url-value="@Url.Page("WebPageToMonitor", new {id = 0})">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="WatchdogArgs.Name" class="form-label fw-bold"></label>
                <input asp-for="WatchdogArgs.Name" class="form-control" />
                <span asp-validation-for="WatchdogArgs.Name" class="text-danger"></span>
            </div>
        </form>

        <div>
            <label class="form-label fw-bold">Web pages to monitor</label>
            <div id="web_pages_to_monitor" data-watchdogs--detail-target="webPagesToMonitor">
                @foreach (var watchdogWebPageId in Model.WatchdogArgs.WebPageIds)
                {
                    <turbo-frame id="watchdog_web_page_@(watchdogWebPageId)" src="@Url.Page("WebPageToMonitor", new{id = watchdogWebPageId})" />
                }
            </div>
            <button type="submit" class="btn btn-primary" data-action="watchdogs--detail#addWebPageToMonitor">
                Add web page to monitor
            </button>
        </div>
    </div>
</div>

<div>
    <a asp-page="/Index">Back to List of watchdogs</a>
</div>
