@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@model IndexModel
@inject IStringLocalizer<Resource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer[Resource.ListOfWatchdogs];
}

<div>
    <h1 class="display-4">@SharedLocalizer[Resource.ListOfWatchdogs]</h1>
    
    @foreach (var watchdogScrapingResults in Model.WatchdogScrapingResults)
    {
        <div>
            <a asp-page="/Watchdogs/ScrapingResults/ScrapingResults" asp-route-id="@watchdogScrapingResults.Id">@watchdogScrapingResults.Name</a>
        </div>
    }
</div>
