@page "{id}"
@model OverviewModel
@{
   Layout = null;
}
<!turbo-frame id="watchdog_overview_@(Model.WatchdogOverviewArgs.Id)">
    <view-or-edit-form action="@Url.Page("Overview", new{id = Model.WatchdogOverviewArgs.Id})">
        
        <view-mode-item>
            <div class="mb-3">
                <label asp-for="WatchdogOverviewArgs.Name" class="form-label fw-bold"></label>
                <div>@Model.WatchdogOverviewArgs.Name</div>
            </div>
        </view-mode-item>
        
        <edit-mode-item>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="WatchdogOverviewArgs.Id" type="hidden" />

            <div class="mb-3">
                <label asp-for="WatchdogOverviewArgs.Name" class="form-label fw-bold"></label>
                <input asp-for="WatchdogOverviewArgs.Name" class="form-control" />
                <span asp-validation-for="WatchdogOverviewArgs.Name" class="text-danger"></span>
            </div>
        </edit-mode-item>

    </view-or-edit-form>
</!turbo-frame>

