@page
@using Microsoft.Extensions.Localization
@using MrWatchdog.Core.Resources
@model AlertsModel
@inject IStringLocalizer<Resource> SharedLocalizer

@{
    var title = SharedLocalizer[Resource.MyAlerts];
    ViewData["Title"] = title;
}

@section Navigation {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@title</li>
        </ol>
    </nav>
}

<h1 class="display-4">@title</h1>

@foreach (var watchdogAlert in Model.WatchdogAlerts)
{
    <div>
        <a asp-page="/Watchdogs/Alert/Alert" asp-route-watchdogAlertId="@watchdogAlert.WatchdogAlertId">
            @(!string.IsNullOrWhiteSpace(watchdogAlert.SearchTerm) ? $"{watchdogAlert.SearchTerm} - " : "")@watchdogAlert.WatchdogName
        </a>
    </div>
}
