@page
@model ConfirmLoginModel
@{
    var title = "You've been logged in";
    ViewData["Title"] = title;
}

<h1 class="display-4">@title</h1>

<p>
    You've been logged in on your original session. You can close this tab.
</p>