@page
@using MrWatchdog.Core.Resources
@model ConfirmLoginModel
@{
    var title = Resource.YouHaveBeenLoggedIn;
    ViewData["Title"] = title;
    ViewData["HideMenu"] = true;
}

<h1 class="display-4">@title</h1>

@Html.Raw(Resource.YouHaveBeenLoggedInDescription)

