@page
@model IndexModel
@{
    ViewData["Title"] = "List of watchdogs";
}

<div>
    <h1 class="display-4">List of watchdogs</h1>
    <p>
        <a asp-page="/Watchdogs/Create">Create watchdog</a>
    </p>
</div>
