cd Web
dotnet user-secrets set "EmailSender:Username" "<your user name>"
dotnet user-secrets set "EmailSender:Password" "<your password>"
dotnet user-secrets set "ReCaptcha:SecretKey" "<your ReCaptcha secret key>"