cd Web
dotnet user-secrets set "SmtpServerEmailSender:SmtpServer" "<smtp server>"
dotnet user-secrets set "SmtpServerEmailSender:Port" "<smtp server port>"
dotnet user-secrets set "SmtpServerEmailSender:Username" "<user name>"
dotnet user-secrets set "SmtpServerEmailSender:Password" "<password>"

dotnet user-secrets set "ReCaptcha:SiteKey" "<ReCaptcha secret key>"
dotnet user-secrets set "ReCaptcha:SecretKey" "<ReCaptcha secret key>"

dotnet user-secrets set "Logging:LogErrorApiHeaderSecret" "<log error API secret>"

dotnet user-secrets set "Authentication:Google:ClientId" "<Google client id>"
dotnet user-secrets set "Authentication:Google:ClientSecret" "<Google client secret>"

dotnet user-secrets set "EmailAddresses:NoReply" "<noreply email address>"
dotnet user-secrets set "EmailAddresses:Admin" "<admin email address>"
dotnet user-secrets set "EmailAddresses:Support" "<support email address>"

dotnet user-secrets set "ConnectionStrings:Database" "<database connection string>"
dotnet user-secrets set "ConnectionStrings:TestDatabase" "<test database connection string>"

dotnet user-secrets set "SmtpClientDirectlyToRecipientMailServerEmailSender:DkimDomain" "<DKIM domain>"
dotnet user-secrets set "SmtpClientDirectlyToRecipientMailServerEmailSender:DkimSelector" "<DKIM selector>"
dotnet user-secrets set "SmtpClientDirectlyToRecipientMailServerEmailSender:DkimPrivateKeyFilePath" "<DKIM private key file path>"
