cd Web
dotnet user-secrets set "EmailSender:Username" "<your user name>"
dotnet user-secrets set "EmailSender:Password" "<your password>"

dotnet user-secrets set "ReCaptcha:SiteKey" "<your ReCaptcha secret key>"
dotnet user-secrets set "ReCaptcha:SecretKey" "<your ReCaptcha secret key>"

dotnet user-secrets set "Logging:LogErrorApiHeaderSecret" "<your log error API secret>"

dotnet user-secrets set "Authentication:Google:ClientId" "<your Google client id>"
dotnet user-secrets set "Authentication:Google:ClientSecret" "<your Google client secret>"

dotnet user-secrets set "EmailAddresses:NoReply" "<your noreply email address>"
dotnet user-secrets set "EmailAddresses:Admin" "<your admin email address>"
dotnet user-secrets set "EmailAddresses:Support" "<your support email address>"

dotnet user-secrets set "ConnectionStrings:Database" "<your database connection string>"
dotnet user-secrets set "ConnectionStrings:TestDatabase" "<your test database connection string>"
