<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-prefetch" content="false">
    @* <meta name="turbo-refresh-method" content="morph"> *@
    @* <meta name="turbo-refresh-scroll" content="preserve"> *@

    <title>@ViewData["Title"] - Mr Watchdog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/5.3.6/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bundle.css" />
    
    <script src="~/lib/bootstrap/5.3.6/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/lib/hotwired/turbo/8.0.13/turbo.es2017-esm.min.js"></script>
    <script src="~/lib/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/1.21.0/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    
    <script type="module" src="~/bundle.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Mr Watchdog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 <a href="https://xhafan.com/blog/about.html">Martin Havlišta</a>
        </div>
    </footer>
</body>
</html>
